*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box{
  width:150px ;
  height: 150px;
  background-color: red;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animatsiya holatlari  */
  
  animation-name: harakat;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.boxer{
  width: 50px;
  height: 50px;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxer::after{
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;

}

/*  animatsiya harakati  */

@keyframes harakat {
  0%{
    top: 0;
    left: 0;
  }
  25%{
    top: 0;
    left: 600px;
  }
  50%{
    top: 300px;
    left: 600px;
  }
  75%{
    top: 300px;
    left: 0;
  }
  100%{
    top: 0;
    left: 0;
    transform: rotate(calc(360deg * 2));
  }
}



